<div style="width: 600px;border:1px solid black;padding: 15px;">
  <p>Hi!</p>
  <p>Reset your password, and we'll get you on your way.</p>
  <p>
    To change your password, <a href="/reset-password?token=<%= @reset_password_token%>">click here</a>
    or paste the following link into your browser:
  </p>
  <p style="word-wrap: break-word;"><a href="/reset-password?token=<%= @reset_password_token%>">/reset-password?token=<%= @reset_password_token%></a></p>
  <p>This link will expire in 24 hours, so be sure to use it right away.</p>
  <p>
    Thank you for using ParamountDirect!<br>
    The ParamountDirect Team
  </p>
</div>
